# STM32 build outputs
Debug/
Release/

# Object / binary files
*.o
*.d
*.elf
*.bin
*.hex
*.map

# IDE settings
.settings/
*.launch

# temporary files
*.log
*.tmp
*.bak

# OS files
Thumbs.db
.DS_Store
